<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    tools:ignore="LockedOrientationActivity">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />
    <uses-permission android:name="android.permission.READ_MEDIA_VIDEO" />

    <application
        android:icon="@mipmap/ic_launcher"
        android:installLocation="preferExternal"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.NoActionBar">
        <activity
            android:name="com.marcosmiranda.seniasnicas.MainMenu"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.marcosmiranda.seniasnicas.Letras"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.Diccionario"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.MasApps"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.Galeria"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.WordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.AnatomiaWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.AnimalesWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.ColoresWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.ComidaWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.DireccionesWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.EmergenciasWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.FamiliaWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.GeografiaWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.NumerosWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.RopaWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.SaludosWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.TiempoWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.TrabajosWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.TransporteWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.marcosmiranda.seniasnicas.VerbosWordList"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>